// To use a font file (.woff) uncomment following lines
@font-face {
  font-family: "Apfel";
  font-weight: regular;
  src: font-url('ApfelGrotezk-Regular.woff2') format('woff2');
}

@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

html {
  font-family: "Apfel", sans-serif;
  -webkit-font-smoothing: antialiased;
}
