// To use a font file (.woff) uncomment following lines
@font-face {
  font-family: "Apfel";
  font-weight: regular;
  src: font-url('ApfelGrotezk-Regular.woff2') format('woff2');
}

html {
  font-family: "Apfel", sans-serif;
}