<div class="text-center mt-12">
  <h2>Merci pour ton inscription !</h2><br></br>
  <p>Un email de confirmation a été envoyé à l'adresse que tu as fournie. Clique sur le lien dans cet email pour confirmer ton compte.</p>
  <br></br>
  <p>Si tu ne reçois pas l'email, vérifie tes spams ou <a href="#">réessaye</a> de l'envoyer.</p>
</div>