<div data-actions-target="actionsPanel"
     class="slide-up hidden fixed flex flex-col bg-gray-200 dark:bg-gray-800 justify-evenly items-center lg:w-[calc((100vh-120px)*(250/350))] z-50 w-full h-[calc(100vh-119px)]"
     style="bottom: 60px;">
  <div class="flex flex-col items-center font-mono text-sm uppercase text-lg text-gray-500 dark:text-gray-300 dark:hover:text-gray-100 hover:text-gray-700"
       data-action="click->actions#toggleShare">
    <i class="fa-solid fa-share mb-sm text-lg"></i>
    <p>Partager</p>
  </div>
  <% if user_signed_in? %>
    <div class="flex flex-col items-center font-mono text-sm uppercase text-lg text-gray-500 dark:text-gray-300 dark:hover:text-gray-100 hover:text-gray-700">
      <i class="fa-solid fa-star mb-sm text-lg"></i>
      <p>Ajouter aux favoris</p>
    </div>
    <div class="lg:hidden flex flex-col items-center font-mono text-sm uppercase text-lg text-gray-500 dark:text-gray-300 dark:hover:text-gray-100 hover:text-gray-700">
      <i class="fa-solid fa-bookmark mb-sm text-lg"></i>
      <p>Marque page</p>
    </div>
  <% end %>
  <div class="flex flex-col items-center font-mono text-sm uppercase text-lg text-gray-500 dark:text-gray-300 dark:hover:text-gray-100 hover:text-gray-700">
    <i class="fa-solid fa-flag mb-sm text-lg"></i>
    <p>Signaler</p>
  </div>
  <% if user_signed_in? && current_user == @post.user %>
    <%= link_to edit_post_path(@post), class: "flex flex-col items-center font-mono text-sm uppercase text-lg text-gray-500 dark:text-gray-300 dark:hover:text-gray-100 hover:text-gray-700" do %>
      <i class="fa-solid fa-pen-to-square mb-sm text-lg"></i>
      <p>Editer</p>
    <% end %>
    <%= link_to post_path(@post), data: { turbo_method: :delete }, class: "flex flex-col items-center font-mono text-sm uppercase text-lg text-gray-500 dark:text-gray-300 dark:hover:text-gray-100 hover:text-gray-700" do %>
      <i class="fa-solid fa-trash mb-sm text-lg"></i>
      <p>Supprimer</p>
    <% end %>
  <% end %>
</div>

