<div data-actions-target="sharePanel"
     class="slide-up hidden fixed flex flex-col bg-gray-200 dark:bg-gray-800 justify-evenly items-center lg:w-[calc((100vh-118px)*(250/350))] z-[80] w-full h-[calc(100vh-120px)]"
     style="bottom: 60px;">
  <div class="flex flex-col items-center font-mono text-sm uppercase text-lg text-gray-500 dark:text-gray-300 dark:hover:text-gray-100 hover:text-gray-700">
    <i class="fa-solid fa-share mb-2 text-lg"></i>
    <p>Partager</p>
    <div class="flex mt-sm">
      <div class="flex-1 bg-white dark:bg-gray-700 rounded-l-lg px-3 py-1 font-mono text-sm text-gray-600 dark:text-gray-300 truncate">
        <%= request.original_url %>
      </div>
      <button data-action="click->actions#copyUrl" 
              class="bg-primary text-white px-4 rounded-r-lg flex items-center transition-colors duration-200">
        <i class="fa-solid fa-copy"></i>
      </button>
    </div>
  </div>
  <div class="absolute bottom-10 flex flex-col items-center font-mono text-sm uppercase text-lg text-gray-500 dark:text-gray-300 dark:hover:text-gray-100 hover:text-gray-700"
       data-action="click->actions#toggleShare">
    <i class="fa-solid fa-close text-lg"></i>
  </div>
</div>

<div data-actions-target="addBookmarkPanel"
     class="slide-up hidden fixed flex flex-col bg-gray-200 dark:bg-gray-800 justify-evenly items-center lg:w-[calc((100vh-118px)*(250/350))] z-[80] w-full h-[calc(100vh-120px)]"
     style="bottom: 60px;">
  <div class="flex flex-col items-center font-mono text-sm uppercase text-lg text-gray-500 dark:text-gray-300 dark:hover:text-gray-100 hover:text-gray-700">
    <div class="flex mt-sm">
      <p>Un marque-page a été ajouté</p>
    </div>
  </div>
</div>

<div data-actions-target="reportPanel"
     class="slide-up hidden fixed flex flex-col bg-gray-200 dark:bg-gray-800 justify-evenly items-center lg:w-[calc((100vh-118px)*(250/350))] z-[80] w-full h-[calc(100vh-120px)]"
     style="bottom: 60px;">
  <div class="flex flex-col items-center font-mono text-sm uppercase text-lg text-gray-500 dark:text-gray-300 dark:hover:text-gray-100 hover:text-gray-700">
    <i class="fa-solid fa-flag mb-2 text-lg"></i>
    <p>Signaler</p>
    <div class="flex mt-sm">
      <!-- Champ de commentaire -->
    </div>
  </div>
  <div class="absolute bottom-10 flex flex-col items-center font-mono text-sm uppercase text-lg text-gray-500 dark:text-gray-300 dark:hover:text-gray-100 hover:text-gray-700"
       data-action="click->actions#toggleReport">
    <i class="fa-solid fa-close text-lg"></i>
  </div>
</div>

<div data-actions-target="editPanel"
     class="slide-up hidden fixed flex flex-col bg-gray-200 dark:bg-gray-800 justify-evenly items-center lg:w-[calc((100vh-118px)*(250/350))] z-[80] w-full h-[calc(100vh-120px)]"
     style="bottom: 60px;">
  <div class="flex flex-col items-center font-mono text-sm uppercase text-lg text-gray-500 dark:text-gray-300 dark:hover:text-gray-100 hover:text-gray-700">
    <p>Es-tu sûr de vouloir modifier ce futur ?</p>
    <div class="flex gap-4 mt-4">
      <%= link_to edit_post_path(@post), class: "flex flex-col items-center font-mono text-sm uppercase text-lg text-green-500 hover:text-green-700" do %>
        <i class="fa-solid fa-check mb-2 text-lg"></i>
        <p>Oui</p>
      <% end %>
      
      <button data-action="click->actions#toggleEdit" class="flex flex-col items-center font-mono text-sm uppercase text-lg text-red-500 hover:text-red-700">
        <i class="fa-solid fa-xmark mb-2 text-lg"></i>
        <p>Non</p>
      </button>
    </div>
  </div>
  <div class="absolute bottom-10 flex flex-col items-center font-mono text-sm uppercase text-lg text-gray-500 dark:text-gray-300 dark:hover:text-gray-100 hover:text-gray-700"
      data-action="click->actions#toggleEdit">
    <i class="fa-solid fa-close text-lg"></i>
  </div>
</div>

<div data-actions-target="deletePanel"
     class="slide-up hidden fixed flex flex-col bg-gray-200 dark:bg-gray-800 justify-evenly items-center lg:w-[calc((100vh-118px)*(250/350))] z-[80] w-full h-[calc(100vh-120px)]"
     style="bottom: 60px;">
  <div class="flex flex-col items-center font-mono text-sm uppercase text-lg text-gray-500 dark:text-gray-300 dark:hover:text-gray-100 hover:text-gray-700">
    <i class="fa-solid fa-trash mb-2 text-lg"></i>
    <p>Es-tu sûr de vouloir supprimer ce futur ?</p>
    <div class="flex gap-4 mt-4">
      <%= button_to post_path(@post), 
          method: :delete,
          data: { turbo: true },
          class: "flex flex-col items-center font-mono text-sm uppercase text-lg text-green-500 hover:text-green-700" do %>
        <i class="fa-solid fa-check mb-2 text-lg"></i>
        <p>Oui</p>
      <% end %>
      
      <button data-action="click->actions#toggleDelete" 
              class="flex flex-col items-center font-mono text-sm uppercase text-lg text-red-500 hover:text-red-700">
        <i class="fa-solid fa-xmark mb-2 text-lg"></i>
        <p>Non</p>
      </button>
    </div>
  </div>
  <div class="absolute bottom-10 flex flex-col items-center font-mono text-sm uppercase text-lg text-gray-500 dark:text-gray-300 dark:hover:text-gray-100 hover:text-gray-700"
       data-action="click->actions#toggleDelete">
    <i class="fa-solid fa-close text-lg"></i>
  </div>
</div>