<nav class="fixed bg-white bottom-0 z-[99] w-full h-navbar-height border-t border-gray-200 dark:border-gray-600 font-mono text-sm uppercase bg-gray-100 dark:bg-gray-800 text-black-900 dark:text-gray-100">
  <!-- Contenu pour les écrans plus petits -->
  <div class="flex flex-1 items-center relative h-full lg:hidden">
    <div class="absolute left-0 flex gap-sm px-sm items-center">
      <button id="actions-button" 
              class="flex items-center" 
              data-action="click->actions#toggleActions"
              aria-label="Menu des actions">
        <i class="fa-solid fa-bars text-lg text-gray-500 dark:text-gray-300 dark:hover:text-gray-100 hover:text-gray-700"></i>
      </button>
    </div>
    <div class="flex-1 flex justify-center items-center">
      <span class="hidden tw-overtitre">Lecture <%= @post.calculate_reading_time %></span>
      <span class="text-gray-500"><span data-scroll-target="scrollPercentage">0</span>%</span>
    </div>
    <div class="absolute right-0 flex gap-sm items-center">
      <button id="actions-button" 
              class="flex items-center px-sm" 
              data-action="click->actions#toggleSettings"
              aria-label="Paramètres d'affichage">
        <i class="fa-solid fa-sliders text-lg text-gray-500 dark:text-gray-300 dark:hover:text-gray-100 hover:text-gray-700"></i>
      </button>
    </div>
  </div>
  <!-- Contenu pour les écrans plus grands -->
  <div class="hidden lg:flex lg:flex-row mx-auto  h-full">
    <div class="flex bg-gray-200 dark:bg-gray-700 w-[calc((100dvh-100px)*(250/312))] px-4 justify-center items-center gap-xs">
      <button id="actions-button" 
              class="flex items-center px-lg" 
              data-action="click->actions#toggleActions"
              aria-label="Menu des actions">
        <i class="fa-solid fa-bars text-lg text-gray-500 dark:text-gray-300 dark:hover:text-gray-100 hover:text-gray-700"></i>
      </button>
    </div>
    <div class="flex flex-1 items-center relative">
      <div class="absolute left-0 flex gap-sm items-center">
        <button class="flex items-center px-sm" 
                data-bookmark-position="<%= @bookmark&.character_position || 0 %>"
                data-action="click->bookmark#toggle"
                data-bookmark-target="button"
                aria-label="Ajouter ou supprimer un marque-page">
          <i class="fa-regular fa-bookmark text-lg text-gray-500 dark:text-gray-300 dark:hover:text-gray-100 hover:text-gray-700" 
             title="Ajouter un marque page"></i>
        </button>
      </div>
      <div class="flex-1 flex justify-center items-center">
        <span class="hidden tw-overtitre">Lecture <%= @post.calculate_reading_time %></span>
        <span class="text-gray-500"><span data-scroll-target="scrollPercentage">0</span>%</span>
      </div>
      <div class="absolute right-0 flex gap-sm items-center">
        <button id="actions-button" 
                class="flex items-center px-sm" 
                data-action="click->actions#toggleSettings"
                aria-label="Paramètres d'affichage">
          <i class="fa-solid fa-sliders text-lg text-gray-500 dark:text-gray-300 dark:hover:text-gray-100 hover:text-gray-700" title="Barre de réglage"></i>
        </button>
      </div>
    </div>
  </div>
</nav>

