<% if notice %>
  <div class="alert alert-info alert-dismissible rounded-full bg-white fade p-2 show m-4" role="alert">
    <%= notice %>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
    </button>
  </div>
<% end %>
<% if alert %>
  <div class="alert alert-warning rounded-full alert-dismissible m-4 bg-white fade p-2 show m-1" role="alert">
    <%= alert %>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
    </button>
  </div>
<% end %>
