<div class="grid grid-cols-6 gap-4 p-sm gap-y-base mt-2xl">
    <div class="col-span-2">
        <p class="text-xl">Création</p>
        <p class="text-xl">Développement</p>
        <p class="text-xl">Typographies</p>
    </div>
    <div class="col-span-4 text-right">
        <p class="text-xl">Quentin Orhant</p>
        <p class="text-xl">Quentin Orhant et SuperSerif</p>
        <p class="text-xl">Apfel Grotesk</p>
    </div>
    <div class="col-span-6 h-[10px] bg-gray-900">

    </div>
    <div class="col-span-2">
        <p class="text-xl">2024</p>
    </div>
    <div class="col-span-4 text-right">
        <p class="text-xl">Tous droits réservés</p>
    </div>
</div>
