<div class="grid grid-cols-6 gap-4 p-sm gap-y-base">
    <div class="col-span-2">
        <p class="text-xxlish">Création</p>
        <p class="text-xxlish">Développement</p>
        <p class="text-xxlish">Typographies</p>
    </div>
    <div class="col-span-4">
        <p class="text-xxlish">Quentin Ornanlt</p>
        <p class="text-xxlish">Quentin Ornanlt et SuperSerif</p>
        <p class="text-xxlish">Apfel Grotesk</p>
    </div>
    <div class="col-span-6 h-[10px] bg-gray-900">
       
    </div>
    <div class="col-span-2">
        <p class="text-xxlish">2024</p>
    </div>
    <div class="col-span-4 text-right">
        <p class="text-xxlish">Tous droits réservés</p>
    </div>
</div>
