<div data-actions-target="settingsPanel"
     class="slide-up hidden fixed grid grid-cols-2 md:grid-cols-4 bg-white dark:bg-gray-800 text-black-900 dark:text-gray-100 justify-evenly items-center lg:w-[calc(100vw-((100dvh-120px)*(250/350)))] lg:ml-[calc((100dvh-120px)*(250/350))] z-30 w-full border-t border-gray-200 dark:border-gray-600 md:h-navbar-height h-[calc(2*60px)]"
     style="bottom: 60px;">
  <div class="flex space-x-1 justify-center items-center">
    <button id="text-size-small" aria-label="Très petite taille de texte" class="border-2 hover:border-primary focus:outline-none w-7 h-7 flex items-center justify-center" data-action="click->actions#changeTextSize" data-actions-target="textSize" data-value="small">
      <span style="font-size: 0.6rem;">A</span>
    </button>
    <button id="text-size-medium" aria-label="Petite taille de texte" class="border-2 hover:border-primary focus:outline-none w-7 h-7 flex items-center justify-center" data-action="click->actions#changeTextSize" data-actions-target="textSize" data-value="medium">
      <span style="font-size: 0.8rem;">A</span>
    </button>
    <button id="text-size-large" aria-label="Taille de texte moyenne" class="border-2 hover:border-primary focus:outline-none w-7 h-7 flex items-center justify-center" data-action="click->actions#changeTextSize" data-actions-target="textSize" data-value="large">
      <span style="font-size: 1rem;">A</span>
    </button>
    <button id="text-size-xlarge" aria-label="Très grande taille de texte" class="border-2 hover:border-primary focus:outline-none w-7 h-7 flex items-center justify-center" data-action="click->actions#changeTextSize" data-actions-target="textSize" data-value="xlarge">
      <span style="font-size: 1.2rem;">A</span>
    </button>
  </div>
  <div class="flex space-x-1 justify-center items-center">
    <button id="line-height-small" aria-label="Interligne très serré" class="border-2 hover:border-primary focus:outline-none w-6 h-7" data-action="click->actions#changeLineHeight" data-actions-target="lineHeight" data-value="small">
      <%= inline_svg_tag('lineh-1.svg') %>
    </button>
    <button id="line-height-medium" aria-label="Interligne moyen" class="border-2 hover:border-primary focus:outline-none w-6 h-7" data-action="click->actions#changeLineHeight" data-actions-target="lineHeight" data-value="medium">
      <%= inline_svg_tag('lineh-2.svg') %>
    </button>
    <button id="line-height-large" aria-label="Interligne espacé" class="border-2 hover:border-primary focus:outline-none w-6 h-7" data-action="click->actions#changeLineHeight" data-actions-target="lineHeight" data-value="large">
      <%= inline_svg_tag('lineh-3.svg') %>
    </button>
    <button id="line-height-xlarge" aria-label="Interligne très espacé" class="border-2 hover:border-primary focus:outline-none w-6 h-7" data-action="click->actions#changeLineHeight" data-actions-target="lineHeight" data-value="xlarge">
      <%= inline_svg_tag('lineh-4.svg') %>
    </button>
  </div>
  <div class="flex space-x-1 justify-center items-center">
    <button id="font-sans" aria-label="Police Apfel" class="h-7 w-16 border-2 hover:border-primary focus:outline-none px-2 py-1 font-sans" data-action="click->actions#changeFont" data-actions-target="font" data-value="sans" style="font-size: 0.8rem;">Apfel</button>
    <button id="font-dyslexic" aria-label="Police OpenDyslexic" class="h-7 w-16 border-2 hover:border-primary focus:outline-none px-2 py-1 font-opendyslexic" data-action="click->actions#changeFont" data-actions-target="font" data-value="Opendylexic" style="font-size: 0.8rem;">Dyslexic</button>
  </div>
  <div class="flex space-x-1 justify-center items-center">
    <button id="light-mode" aria-label="Mode clair" class="h-7 w-8 border-2 hover:border-primary focus:outline-none px-2 bg-white flex items-center justify-center text-gray-500 hover" data-action="click->actions#changePostTheme" data-actions-target="theme" data-value="light">
      <i class="fa-solid fa-sun text-sm"></i>
    </button>
    <button id="dark-mode" aria-label="Mode sombre" class="h-7 w-8 border-2 hover:border-primary focus:outline-none px-2 bg-black-900 flex items-center justify-center text-gray-300 hover:text-gray-100" data-action="click->actions#changePostTheme" data-actions-target="theme" data-value="dark">
      <i class="fa-solid fa-moon text-x"></i>
    </button>
  </div>
</div>
