<div data-actions-target="sharePanel"
     class="hidden fixed flex flex-col bg-gray-200 justify-evenly items-center z-50 bottom-0 w-full border-b border-t border-gray-200 z-[99]  h-[calc(100vh-120px)] "
     style="bottom: 60px;">
  <div class="flex flex-col items-center font-mono text-sm uppercase text-lg text-gray-500 hover:text-gray-700">
    <i class="fa-solid fa-share mb-sm text-lg"></i>
    <p>Partager</p>
  </div>
</div>