<% content_for :title, "SP 2050 - Lire et écrire des futurs désirables" %>
<% content_for :description, "Une plateforme dédiée aux imaginaires désirables, où l'on imagine des futurs positifs pour demain. Lisez et partagez des histoires qui réinventent notre rapports aux autres, à la nature, à l'économie, aux technologies ..." %>

<!-- Ajoutez ceci juste avant votre div hero -->
<%= render 'shared/hero_animation' %>

<div class="flex items-center">
  <div class="flex flex-col py-base md:py-xl pl-2 pr-sm md:px-base lg:px-2xl 2xl:px-[400px] h-full">
    <div class="border-l-6 md:border-l-8 border-primary pl-2 md:pl-8">
      <p class="text-l md:text-2l pb-4">
        Dérèglement climatique, effondrement de la biodiversité, montée des eaux, menace nucléaire …
      </p>
      <p class="text-l md:text-2l pb-4">
        La liste des nouveaux sujets de société est longue et anxiogène. Face à ces bouleversements et ces trajectoires accablantes, SP-2050 propose un espace pour se ressourcer, s’inspirer, et créer de nouveaux imaginaires.
      </p>
      <p class="text-l md:text-2l pb-4">
        Les imaginaires sont puissants et trop souvent dictés par des intérêts économiques ou électoralistes, ici il s’agit de donner ce pouvoir à toutes et tous, et particulièrement à celles et ceux qui n’ont pas l’habitude de l’avoir.
      </p>
      <p class="text-l md:text-2l pb-4">
        Une seule consigne, essayer d'écrire des futurs positifs et désirables, sinon aucune limite pour imaginer les mondes de demain ! Tout est possible, alors essayons d'imaginer le meilleur de ce qui pourrait advenir en 2050.
      </p>
      <p class="text-l md:text-2l pb-4">
        Écrire le futur c’est commencer à le rendre possible, le faire exister.
      </p>
      <p class="text-l md:text-2l">
        Dans quelques mois, en fonction des retours, nous réflechirons sur la manière de poursuivre cette expérience … une édition, un festival, un podcast … qui sait ce que l’avenir nous réserve !
      </p>
    </div>
  </div>
</div>

<% if @posts.any? %>
  <div class="py-xl">
    <div class="text-xxlish md:text-display uppercase ml-xs">
      <span>Les derniers futurs</span>
    </div>
      <div class="m-auto justify-center p-xs pt-0">
        <%= render partial: "posts/posts", locals: { posts: @posts.order(created_at: :desc).limit(10) } %>
      </div>
    </div>
  </div>
<% end %>

<div class="h-[100vh] bg-black-900 text-white flex items-center justify-center">
  <div class="text-center">
    <div class="flex flex-col md:px-xl lg:px-2xl justify-center items-center h-full">
      <p class="text-2xl md:text-xl base:text-xxlish text-balance leading-normal" data-controller="text-reveal">
        Le solarpunk est un mouvement artistique et politique qui propose une vision optimiste d'un avenir durable, interconnecté avec la nature et la communauté ... à l'égard du changement climatique, de la pollution, des inégalités, des intolérances et discriminations sociales.
      </p>
      <p class="mt-base text-l md:text-2xl text-primary base:text-xxlish text-balance" data-controller="text-reveal">
        Source : wikipedia.org/wiki/Solarpunk
      </p>
    </div>
  </div>
</div>

<%= render 'shared/footer' %>
