<div class="index-grid" data-controller="staggered-animation">
  <% if posts.any? %>
    <% posts.each do |post| %>
      <%= render "posts/post", post: post %>
    <% end %>
  <% else %>
    <p class="col-span-3 text-center text-gray-500 py-lg">Aucun futur n'a été trouvé.</p>
  <% end %>
</div>
