<% content_for :navbar_transparent, true %>
<% content_for :title, "SP2050 - Édite le futur - #{@post.title}" %>
<% content_for :description, "Édite et améliore ton futur sur SP2050. Perfectionne ta contribution à notre collection de futurs." %>
<% content_for :meta_robots, "noindex, nofollow" %>

<div class="bg-black-100">
  <div class="text-xl flex min-h-screen w-full min-w-0 flex-col items-stretch">
      <%= render 'form', post: @post %>
  </div>
</div>