<div class="bg-black-100 flex flex-col items-center justify-center w-full" style="min-height: calc(100dvh - 60px);" data-controller="signup">
  <div class="flex flex-col items-center w-full md:w-[700px] p-sm"> 
    <div class="bg-white p-sm rounded-lg shadow">
      <div class="sm:flex">
        <div class="sm:flex-auto">
          <h1 class="text-xl pt-sm text-center font-semibold leading-6 text-gray-900">Mes favoris</h1>
        </div>
      </div>
      <div class="mt-8 flow-root">
        <div class="inline-block min-w-full py-2 align-middle px-xs">
          <div class="">
            <% if @favorite_posts.any? %>
              <div class="m-auto p-2 justify-center grid grid-cols-1 sm:grid-cols-2 gap-4">
                <%= render partial: "post", collection: @favorite_posts %>
              </div>
            <% else %>
              <div class="text-center text-gray-500">
                <p>Tu n'as pas encore de favoris.</p>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> 