<% content_for :title, "SP 2050 - Mes récits favoris" %>
<% content_for :description, "Retrouvez tous vos récits favoris sur SP 2050. Une collection personnalisée d'histoires qui vous ont marqué." %>
<% content_for :meta_robots, "noindex, nofollow" %>

<div class="bg-black-100 flex flex-col items-center justify-center w-full" style="min-height: calc(100dvh - 60px);" data-controller="signup">
  <div class="flex flex-col items-center w-full md:w-[700px] px-0 py-sm sm:px-sm"> 
    <div class="bg-white p-sm rounded-lg shadow">
      <div class="sm:flex">
        <div class="sm:flex-auto">
          <h1 class="text-xl pt-sm text-center font-semibold leading-6 text-gray-900">Mes favoris</h1>
        </div>
      </div>
      <div class="mt-8 flow-root">
        <div class="inline-block min-w-full p-0 sm:py-2 align-middle sm:px-xs">
          <div data-controller="staggered-animation">
            <% if @favorite_posts.any? %>
              <div class="m-auto p-0 sm:p-2 justify-center grid grid-cols-1 sm:grid-cols-2 gap-4">
                <%= render partial: "post", collection: @favorite_posts %>
              </div>
            <% else %>
              <div class="text-center text-gray-500">
                <p>Tu n'as pas encore de favoris.</p>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> 