<% content_for :title, "SP 2050 - Écris un nouveau futur" %>
<% content_for :description, "Partage ta vision d'un futur désirable. Contribue à la collection de récits solarpunk en écrivant ta propre histoire." %>
<% content_for :meta_robots, "noindex, nofollow" %>
<div class="bg-black-100">
  <div class="text-xl flex flex-col items-center w-full min-h-screen"> 
      <%= render 'form', post: @post %>
  </div>
</div>
