<% content_for :navbar_transparent, true %>
<% content_for :title, "SP2050 - Écris un nouveau futur" %>
<% content_for :description, "Partage ta vision d'un futur désirable. Contribue à la collection de récits en écrivant ta propre histoire de futur." %>
<% content_for :meta_robots, "noindex, nofollow" %>
<div class="bg-black-100">
  <div class="text-xl flex min-h-screen w-full min-w-0 flex-col items-stretch">
      <%= render 'form', post: @post %>
  </div>
</div>
