<div class="bg-black-100 min-h-screen">
  <div class="pt-16 text-xl flex flex-col items-center w-full">
    <div class="bg-white p-sm rounded-lg shadow w-full max-w-4xl">
      <h2 class="text-center">Écrire un nouveau futur</h2>
      <%= render 'form', post: @post %>
    </div>
  </div>
</div>
