<% content_for :title, "SP 2050 - Mes Futurs" %>
<% content_for :description, "Découvrez tous mes récits. Une collection d'histoires solarpunk uniques et inspirantes." %>
<% content_for :meta_robots, "noindex, nofollow" %>

<div class="bg-black-100 flex flex-col items-center justify-center w-full" style="min-height: calc(100dvh - 60px);" data-controller="signup">
  <div class="flex flex-col items-center w-full md:w-[700px] px-0 py-sm sm:px-sm"> 
    <div class="bg-white p-sm rounded-lg shadow">
      <div class="sm:flex">
        <div class="sm:flex-auto">
          <h1 class="text-xl pt-sm text-center font-semibold leading-6 text-gray-900">Mes futurs</h1>
        </div>
      </div>
      <div class="mt-8 flow-root">
        <div class="inline-block min-w-full p-0 sm:py-2 align-middle sm:px-xs">
          <div data-controller="staggered-animation">
            <% if @user_posts.any? %>
              <div class="m-auto p-0 sm:p-2 justify-center grid grid-cols-1 sm:grid-cols-2 gap-4">
                <% @user_posts.order(created_at: :desc).each do |post| %>
                  <div class="relative">
                    <%= render "posts/post", post: post %>
                    <div class="absolute bottom-4 left-0 right-0 flex justify-center gap-2 p-2 bg-white bg-opacity-75">
                      <%= link_to 'Éditer', edit_post_path(post), class: "tw-btn-secondary uppercase inline-block" %>
                      <%= link_to 'Supprimer', post_path(post), data: { turbo_method: :delete }, class: "tw-btn-danger uppercase inline-block border border-red-500" %>
                    </div>
                    <% if post.draft == true %>
                      <%= link_to 'Brouillon', edit_post_path(post), class: "absolute top-1 right-1 bg-primary rounded-full z-50 text-white px-2 py-1 text-sm font-mono" %>
                    <% end %>
                  </div>
                <% end %>
              </div>
            <% else %>
              <div class="text-center text-gray-500">
                <p>Tu n'as pas encore créé de futurs.</p>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>