.bookmark-icon {
    position: absolute;
    left: -78px; /* Ajustez cette valeur selon vos besoins */
    display: inline-block;
  }

// Ajoutez cette requête média pour les écrans de moins de 1024px
@media (max-width: 1024px) {
  .bookmark-icon {
    left: -17px;
  }
}