.bookmark-icon {
    position: absolute;
    left: -78px; /* Ajustez cette valeur selon vos besoins */
    display: inline-block;
  }

// Pour les écrans entre 1024px et 1280px
@media (min-width: 1024px) and (max-width: 1280px) {
  .bookmark-icon {
    left: -27px;
  }
}

// Pour les écrans plus petits que 1024px
@media (max-width: 1024px) {
  .bookmark-icon {
    left: -17px;
  }
}