.color-slider-wrapper {
  position: relative;
  width: 100%;
}

.color-slider-wrapper input[type="range"] {
  -webkit-appearance: none; /* Supprimer le style par défaut du slider */
  -moz-appearance: none; /* Supprimer le style par défaut du slider pour Firefox */
  width: 100%; /* Largeur du slider */
  background: transparent; /* Rendre la piste transparente */
}

/* Chrome, Safari, Opera */
.color-slider-wrapper input[type="range"]::-webkit-slider-runnable-track {
  width: 100%;
  height: 10px;
  cursor: pointer;
  background: transparent; /* Masquer la piste du slider */
}

.color-slider-wrapper input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 30px; /* Largeur du point */
  height: 30px; /* Hauteur du point */
  background: var(--slider-thumb-color, gray); /* Couleur du point, par défaut gris */
  cursor: pointer; /* Curseur pour pointer */
  border-radius: 50%; /* Arrondir le point */
  margin-top: -7px; /* Ajuster le point avec la piste */
  position: relative;
  z-index: 2;
}

.color-slider-wrapper input[type="range"]:focus {
  outline: none; /* Supprimer le contour lors du focus */
}

/* Firefox */
.color-slider-wrapper input[type="range"]::-moz-range-track {
  width: 100%;
  height: 10px;
  cursor: pointer;
  background: transparent; /* Masquer la piste du slider */
}

.color-slider-wrapper input[type="range"]::-moz-range-thumb {
  width: 30px; /* Largeur du point */
  height: 30px; /* Hauteur du point */
  background: var(--slider-thumb-color, gray); /* Couleur du point, par défaut gris */
  cursor: pointer; /* Curseur pour pointer */
  border-radius: 50%; /* Arrondir le point */
  transform: translateY(2px); /* Ajuster le point avec la piste */
  position: relative;
  z-index: 2;
}

/* IE */
.color-slider-wrapper input[type="range"]::-ms-track {
  width: 100%;
  height: 10px;
  cursor: pointer;
  background: transparent; /* Masquer la piste du slider */
  border-color: transparent;
  color: transparent;
}

.color-slider-wrapper input[type="range"]::-ms-thumb {
  width: 30px; /* Largeur du point */
  height: 30px; /* Hauteur du point */
  background: var(--slider-thumb-color, gray); /* Couleur du point, par défaut gris */
  cursor: pointer; /* Curseur pour pointer */
  border-radius: 50%; /* Arrondir le point */
  margin-top: -5px; /* Ajuster le point avec la piste */
  position: relative;
  z-index: 2;
}

.color-slider-wrapper .color-bar {
  height: 10px;
  border-radius: 5px;
  background: linear-gradient(to right, red, yellow, lime, cyan, blue, magenta, red);
  position: absolute;
  top: 50%;
  width: 100%;
  transform: translateY(-50%);
  z-index: 1;
}
