.svg-full-height {
  height: calc(100dvh - 100px);
  width: calc(((100dvh - 100px))*250/350);
  display: block;
}


@media (max-width: 1024px) and (max-aspect-ratio: 250/410) {
  .svg-full-height {
    height: auto;
    width: 100vw;
  }
}