.svg-full-height {
  height: calc(100dvh - 100px);
  width: calc(((100dvh - 100px))*250/350);
  display: block;
}


@media (max-width: 1024px) and (max-aspect-ratio: 250/400) {
  .svg-full-height {
    height: auto;
    width: 100vw;
  }
}

.svg-with-controls {
  height: calc(100dvh - 200px);
  width: calc(((100dvh - 200px))*250/350);
  display: block;
}


@media (max-width: 1024px) and (max-aspect-ratio: 250/440) {
  .svg-with-controls {
    height: auto;
    width: calc(100vw);
  }
}