h1 {
  font-weight: 800;
  margin-bottom: 0;
}

h5 {
  // font-family: "Playfair Display SC", serif;
  // font-weight: 700;
  // font-style: normal;
  text-transform: capitalize;
}

a {
  text-decoration: none !important;
}

.blankspace {
  height: 30px;
}

.btn {
  border-radius: 5px;
}
