.transition-margin {
    transition: margin-left 0.05s ease;
}

.slide-up {
  transform: translateY(100%);
  transition: transform 0.3s ease-in-out;
}

.slide-up.active {
  transform: translateY(0);
  transition: transform 0.3s ease-in-out;
}

@keyframes move3D {
  0%, 100% {
    transform: translate3d(0, 0, 0);
  }
  50% {
    transform: translate3d(5px, 5px, 5px);
  }
}

.animated-path {
  animation: move3D 3s infinite alternate;
} 

.highlight{
  line-height: 1.6;
  box-decoration-break: clone;
}