h1 {
  font-weight: 800;
  margin-bottom: 0;
}

h5 {
  // font-family: "Playfair Display SC", serif;
  // font-weight: 700;
  // font-style: normal;
  text-transform: capitalize;
}

.blankspace {
  height: 30px;
}
