.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.dropdown-menu {
  top: 60px !important;
}

.btn-primary {
  background-color: $yellow;
  border: 0;
  --bs-btn-padding-y: 0.5rem;
}
