.post-inline {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  text-decoration: none !important;
}

.draft-icon {
  background-color: gray;
  padding: 0px 5px 0px 5px;
  border-radius: 10px;
  margin-left: 5px;
  line-height: 20px;
  color: white;
  font-size: 13px;
}
