@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Apfel";
  font-weight: regular;
  src: font-url('ApfelGrotezk-Regular.woff2') format('woff2');
}

@layer components {
  .tw-btn-primary{
    @apply rounded-md bg-indigo-600 px-3.5 py-2.5 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600
  }

  /* Navigation */
  .tw-nav-link{
    @apply block px-4 py-2 text-sm text-gray-700 hover:text-gray-900 transition-colors duration-200
  }
}

